#header_area{
  //top Header area
  .top_header_area{
    adress 
    .phone_number;
    .email_adress{
      display: none;
    }
    .inner{
      display: block;
    }
    social area{
      ul{
        text-align: center;
      }
    }
    }
    }
  
//main menu style
.main menu